:root {
  .light {
    --transparent: rgba(0, 0, 0, 0);
    --white: #ffffff;
    --black: #000000;
    --tomato: #f44336;
    --purple: #843dff;
    --green: #4caf50;
    --orange: #ff9800;
    --control: #e2e8f0;
    --control-brighter: #f3f5f9;
    --control-focus: rgba(255, 255, 255, 0.2);
    --background: #fafafa;
    --foreground: #222222;
    --foreground-dim: #a0aec0;
    --foreground-light: #cbd5e0;
  }
  .dark {
    --transparent: rgba(0, 0, 0, 0);
    --black: #ffffff;
    --white: #000000;
    --tomato: #f77970;
    --purple: #843dff;
    --green: #8bc34a;
    --orange: #ffb13d;
    --control: #192226;
    --control-brighter: #2d3e45;
    --control-focus: rgba(33, 45, 51, 0.4);
    --background: #233035;
    --foreground: #d7e1e4;
    --foreground-dim: #638997;
    --foreground-light: #506e7a;
  }
}

@tailwind base;

body {
  font-size: 14px;
  line-height: 1.6em;
}

input:focus {
  outline: none;
}

.overflow-y-auto {
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@tailwind components;
@tailwind utilities;

.row {
  a {
    @apply text-tomato;
  }
}

code {
  @apply px-2 bg-stall-light rounded-sm;
}

.task-content {
  p {
    display: inline-block;
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

.pulse {
  animation: shadow-pulse 1s infinite;
}

.el-sideview-header {
  @apply relative;
  &::before {
    content: '#';
    position: absolute;
    left: -0.75rem;
    opacity: 0.5;
  }
}

.el-archived-list {
  .task-content span {
    @apply text-stall-dim;
  }
}

.markdown-content {
  :target {
    @apply border-b;
  }

  p {
    @apply my-4 leading-relaxed font-sans text-base;
  }

  h1 {
    @apply font-bold text-lg border-stall-light mb-4;
    &::before {
      content: '#';
      @apply opacity-25 mr-3;
    }
  }

  h2 {
    @apply font-bold text-base border-stall-light mb-4;
    &::before {
      content: '##';
      @apply opacity-25 mr-3;
    }
  }

  h3 {
    @apply font-bold text-base border-stall-light mb-4;
    &::before {
      content: '###';
      @apply opacity-25 mr-3;
    }
  }

  pre {
    @apply px-3 py-2 ml-5 bg-control rounded-sm;

    code {
      @apply m-0 p-0;
    }
  }

  code {
    @apply bg-control font-mono text-sm;
  }

  ol {
    @apply list-decimal pl-10 py-3;

    li {
      @apply ml-2;

      a:hover {
        @apply underline;
      }
    }
  }
}
